<div ng-include src="'views/partials/nav.html'" onload="activeNavLink='Home'"></div>
<div ng-controller="HomeCtrl">
	<div class="jumbotron">
	  <h1>Revise your education</h1>
	  <p class="lead">
	    Find the best universities and courses.
	  </p>
	  <p><a class="btn btn-lg btn-success" ng-href="#">Go!</a></p>
	</div>

	<div class="row marketing" ng-repeat="course in courses">
	  <h4>{{course.title}}</h4>
	  <p>{{course.description}}</p>
	</div>
</div>
<div ng-include src="'views/partials/footer.html'"></div>

