<ng-include src="'views/partials/nav.html'" onload="activeNavLink='Home'"></ng-include>
<div ng-controller="HomeCtrl">
	<div class="jumbotron">
	  <h1>Revise your education</h1>
	  <p class="lead">
	    Find the best universities and courses.
	  </p>
	</div>
	<hr>
	<h4>Add a new course</h4>
	<ng-include src="'views/partials/create_course.html'"></ng-include>
	<hr>
	<!-- Using orderBy is the easiest way to effectively sort courses. Using sort
	on meteor collection ends up with strange behaviour. -->
	<div class="row" ng-repeat="course in courses | orderBy: '-createdAt'"> 
	  <ng-include src="'views/partials/course_list_item.html'"></ng-include>
	</div>
</div>
<ng-include src="'views/partials/footer.html'"></ng-include>

