<form role="form" class="form-inline" name="createMessageForm" ng-controller="CreateMessageCtrl" ng-submit="createmessage()">
	<div class="form-group">
		<label class="sr-only" for="title">Username</label>
		<input ng-model="username" type="text" class="form-control" id="title" placeholder="Username">
	</div>
	<div class="form-group">
		<label class="sr-only" for="description">Content</label>
		<input ng-model="content" type="text" class="form-control" id="description" placeholder="Message">
	</div>
	<button type="submit" class="btn btn-default">Create</button>
</form>