<ng-include src="'partials/base/nav.html'" onload="activeNavLink='Home'"></ng-include>
<div ng-controller="HomeCtrl">
	<div class="jumbotron">
	  <h1>Speak!</h1>
	</div>
	<hr>
	<h4>Add a new message</h4>
	<ng-include src="'partials/message/create_message.html'"></ng-include>
	<hr>
	<!-- Using orderBy is the easiest way to effectively sort messages. Using sort
	on meteor collection ends up with strange behaviour. -->
	<div class="row" ng-repeat="message in messages | orderBy: '-createdAt'"> 
	  <ng-include src="'partials/message/message_list_item.html'"></ng-include>
	</div>
</div>
<ng-include src="'partials/base/footer.html'"></ng-include>

